/config/fcitx5/conf/cached_layouts
/config/karabiner/assets
/config/karabiner/automatic_backups
/config/karabiner/karabiner.json
/config/kitty/kitty.conf.bak
/config/kitty/current-theme.conf
/local
/state.sqlite
