/config/karabiner/assets
/config/karabiner/automatic_backups
/config/karabiner/config.json
/dotfiles/stack
!/dotfiles/stack/config.yaml
/dotfiles/vim/autoload
/dotfiles/vim/.netrwhist
/dotfiles/vim/plugged
/dotfiles/vim/spell
