html {
    margin: 0;
    overflow: hidden;
}

body {
    margin: 4px;
    font-family: "Ubuntu";
    font-size: 15px;
    background-repeat: no-repeat;
    background-position: 0px 0px;
    text-shadow: 0 0 10px white, 0 0 10px white, 0 0 10px white;
    cursor: default;
}

.workspaces, .layout, .title {
    margin: 0px 2px 0px 0px;
}

.layout {
    padding: 21px 2px;
    margin: -22px inherit;
    font-size: 12px;
    border: 2px solid white;
    border-radius: 40px;
    width: 50px;
    display: inline-block;
    text-align: center;
}

.title {
    margin-left: 4px;
    font-weight: bold;
    width: 1200px;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.subscript {
    font-size: 10px;
    vertical-align: sub;
}

.empty {
    color: #999;
}

.urgent, .current, .visible {
    padding: 1px 2px;
    border-radius: 4px;
}

@keyframes urgent {
    0%, 100% {
        color: white;
        text-shadow:
            0 0 10px red, 0 0 10px red, 0 0 10px red,
            0 0 10px red, 0 0 10px red, 0 0 10px red;
    }
    50% {
        text-shadow:
            0 0 10px red, 0 0 10px red, 0 0 10px red,
            0 0 10px red, 0 0 10px red, 0 0 10px red,
            0 0 20px red, 0 0 20px red, 0 0 20px red,
            0 0 20px red, 0 0 20px red, 0 0 20px red;
        color: white;
    }
}

@-webkit-keyframes urgent {
    0%, 100% {
        color: white;
        text-shadow:
            0 0 10px red, 0 0 10px red, 0 0 10px red,
            0 0 10px red, 0 0 10px red, 0 0 10px red;
    }
    50% {
        text-shadow:
            0 0 10px red, 0 0 10px red, 0 0 10px red,
            0 0 10px red, 0 0 10px red, 0 0 10px red,
            0 0 20px red, 0 0 20px red, 0 0 20px red,
            0 0 20px red, 0 0 20px red, 0 0 20px red;
        color: white;
    }
}

.urgent {
    animation-name: urgent;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    -webkit-animation-name: urgent;
    -webkit-animation-duration: 1s;
    -webkit-animation-iteration-count: infinite;
}

.current {
    background-color: #ffc060;
}

.visible {
    background-color: #f0f0f0;
}

.widget-xmonad {
    display: inline;
}

.widget-right {
    float: right;
    margin-left: 15px;
}
